@import url('https://fonts.googleapis.com/css2?family=Bungee+Spice&family=Chakra+Petch:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Codystar:wght@300;400&family=Doto:wght@100..900&family=Eater&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Rubik:ital,wght@0,300..900;1,300..900&family=Schibsted+Grotesk:ital,wght@0,400..900;1,400..900&family=Tilt+Warp&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&family=Vidaloka&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bungee+Spice&family=Chakra+Petch:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Codystar:wght@300;400&family=Doto:wght@100..900&family=Eater&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Rubik:ital,wght@0,300..900;1,300..900&family=Schibsted+Grotesk:ital,wght@0,400..900;1,400..900&family=Tilt+Warp&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&family=Vidaloka&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bungee+Spice&family=Chakra+Petch:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Codystar:wght@300;400&family=Doto:wght@100..900&family=Eater&family=Fugaz+One&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Rubik:ital,wght@0,300..900;1,300..900&family=Schibsted+Grotesk:ital,wght@0,400..900;1,400..900&family=Tilt+Warp&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&family=Vidaloka&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhaijaan+2:wght@400..800&family=Baloo+Bhaina+2:wght@400..800&family=Bungee+Spice&family=Chakra+Petch:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Codystar:wght@300;400&family=Doto:wght@100..900&family=Eater&family=Fugaz+One&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Rubik:ital,wght@0,300..900;1,300..900&family=Schibsted+Grotesk:ital,wght@0,400..900;1,400..900&family=Tilt+Warp&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&family=Vidaloka&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhaijaan+2:wght@400..800&family=Baloo+Bhaina+2:wght@400..800&family=Bungee+Spice&family=Chakra+Petch:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Codystar:wght@300;400&family=Doto:wght@100..900&family=Eater&family=Fugaz+One&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Rubik:ital,wght@0,300..900;1,300..900&family=Schibsted+Grotesk:ital,wght@0,400..900;1,400..900&family=Tilt+Warp&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&family=Vidaloka&display=swap');



* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Nunito';
    color: rgb(212, 222, 222);
}

body {
    min-height: 100vh;
    max-width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
    background: radial-gradient(circle, rgba(168, 84, 69, 0.912) 20%, rgb(89, 3, 46));
    background: radial-gradient(circle, rgba(28, 60, 58, 0.912) 20%, rgb(15, 26, 34) 80%);
    margin: 30px 0px;
    position: relative;
}

h1 {
    font-size: 4.7rem;
    font-weight: 500;
    /* color: rgb(193, 212, 212); */
    font-family: 'Fugaz One';
    text-shadow: 0px 0px 10px #c8b2b2; 
}

main {
    display: flex;
    justify-content: center;
    gap: 100px;
    width: 100%;
}

.inputs-block {
    /* position: absolute;
    top: 30%;
    left: 20%; */
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin-top: 50px;
}

.inputs-block__player1,
.inputs-block__player2 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-image: linear-gradient(135deg, #dc936f 0%, #b84040 100%);
    border-radius: 25px;
    opacity: 0.8;
    font-weight: 600;
    padding: 10px;
    padding-left: 15px;
    gap: 10px;
    color: white;
    box-sizing: border-box;
    /* max-height: 60px;
    width: clamp(250px, 100%, 400px); */
}

label {
    letter-spacing: 1px;
    font-size: clamp(1rem, 2vw, 1.4rem);
    text-wrap: nowrap;
}

input {
    border: none;
    border-radius: 20px;
    /* padding: 6px 12px; */
    padding-left: 5px;
    font-size: 1.2rem;
    max-width: 120px;
    color: rgb(117, 113, 113);
    background-color: rgb(255, 255, 255);
    outline: none;
    /* width: 200px;
    height: 40px; */
}

input:focus {
    background-color: white;
}

.submit-name-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    width: 30px;
    height: 30px;
    background-color: transparent;
    border: none;
    border-radius: 50px;
    transition: all 0.3s linear;
}

.submit-name-btn:hover {
    transform: scale(1.2);
}

.inputs-block__block {
    display: flex;
    align-items: center;
    border-radius: 20px;
    padding: 5px 10px;
    font-size: 1.2rem;
    max-width: 180px;
    color: rgb(117, 113, 113);
    background-color: rgb(255, 255, 255);
}

.board {
    display: grid;
    grid-template-rows: repeat(3, 170px);
    grid-template-columns: repeat(3, 170px);
    border: 5px solid #c8b2b2;
   border-radius: 10px;
   /* box-shadow: 0px 0px 10px #c8b2b2; */
}
    

.board-cell {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border: 5px solid #c8b2b2; 
    box-sizing: border-box;
    box-shadow: 0px 0px 10px #c8b2b2;
}

.board-cell:hover {
    /* background-color: rgba(218, 135, 178, 0.195) ; */
    background-color: rgba(135, 188, 218, 0.195) ;
    /* filter: brightness(50%); */
}


.circle,
.cross {
    color: rgba(232, 232, 229, 0.97);
    font-weight: 600;
    font-size: 5rem;
    transition: all 0.6s ease-out;
    text-shadow: 0px 0px 10px rgba(255, 255, 255, 0.819);
}

.circle.win-color,
.cross.win-color {
    animation: win-animation 1.4s ease-in-out 0.4s;
    /* background-color: #71a1a2;
    background-color: #cf965cd2; */
    background-color: #4b8979;
}

@keyframes win-animation {
    0% {
        font-size: 5rem;
    }
    50% {
        font-size: 7rem;
         /* background-color: #6fe8dbc6; */
         background-color: #f5c365c6;
    }
    100% {
        font-size: 5rem;
    }
}

.game-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    width: 100%;
}

.restart-btn {
    font-size: 1.7rem;
    font-weight: 700;
    letter-spacing: 1px;
    width: 170px;
    height: 60px;
    border-radius: 10px;
    border: none;
    outline: none;
    background-image: linear-gradient(135deg, #dc936f 0%, #b84040 100%);
    cursor: pointer;
    box-shadow: 0 20px 30px -6px rgba(238, 103, 97, 0.5);
    transition: all 0.3s linear;
}

.restart-btn:hover {
    box-shadow: none;
    transform: translateY(3px);
}

.restart-btn:active {
    filter: brightness(120%)
}

.winner-text {
    text-align: center;
    font-size: 1.5rem;
    height: 50px;
}

.win-score {
    display: flex;
    justify-content: center;
    align-items: center;
    height: max-content;
    padding: 10px 0px;
    background-color: rgba(242, 242, 242, 0.84);
    color: rgb(117, 113, 113);
    text-align: center;
    font-size: 1.4rem;
    font-weight: 700;
    border-radius: 20px;
    margin-top: 50px;
    min-width: 150px;
    width: 300px;
    box-shadow: 0 0 15px cyan;
    gap: 10px;
    /* position: absolute;
    left: 67%;
    top: 25%; */
}

span {
    color: rgb(250, 92, 64);
    font-weight: 800;
    font-size: 1.5rem;
}